# Ignore virtual environment
venv/

# Ignore large model file
model/meme_cnn_model.h5

# Ignore unnecessary large dependencies
venv/Lib/site-packages/jaxlib/xla_extension.pyd
venv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd
